.input{
    width: 840px;
    height: 50px;
    padding:8px 0px 1px 10px ;
    font-size: 30px;
    color: grey;
    font-family: sans-serif;
}
.btn-add{
    width: 46px;
    height: 63px;
    font-size: 40px;
    font-weight: bold;
    padding: 0px;
    color: white;
    background-color: rgb(10, 175, 18);
    border:none;
}